.global {
display: flex;
align-items: center;
gap: 0.5rem;
inline-size: min(50rem,100%);
border: 1px solid var(--color-gray-20);
border-radius: 999rem;
padding-inline: 1rem;

}


.prefix {
display: grid;
align-items: center;
 font-size: var(--fz-500);
}

.input {
flex: 1 1 0;
background-color: transparent;
padding: 1rem;
border: none;
}

.input:focus {
    outline: none;
} 


.divider {
background-color: var(--color-gray-20);
block-size: 2em;
inline-size: 1px;
}
.suffix {


}

.suffix button {
background-color: transparent;
display: flex;
align-items: center;
gap: 0.25rem;
border: none;
padding: 0.5rem 0.5rem;
cursor: pointer;
}

.suffix button svg {
    font-size: 1.5em;
}


.global:focus-within {
  border-color: var(--color-primary);
}

.global:focus-within .prefix {
  color: var(--color-primary);
}