*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font: inherit;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}