.search {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin-block-end: 2rem;
}

.result {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(5rem,1fr));
    gap: 1rem;
}

.result li {
    background-color: transparent;
    color: inherit;
    border: 1px solid currentColor;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    border-radius: var(--border-radius);
}

.result li:active {
    background-color: var(--color-primary);
    color: var(----color-primary-opposite);
    border-color: var(--color-primary);
}

.btn {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block-start: 0.5rem;
}

.btn button {
    flex: 1 0 auto;
}